//META{ "name": "Dripping", "description": "@AkibaKaede", "author": "Drip", "version": "1337" }*//

.da-container .da-flexChild header {
	background: url(https://i.imgur.com/Bi9QEG4.jpg);
	background-repeat: no-repeat;
	background-size: cover 0;
	background-position: 68% 5%;
}

.da-container .themeGhostHairlineChannels-3G0x9_ {
	background: linear-gradient(-45deg, rgba(52, 57, 63, .80), rgba(52, 57, 63, .80)), url("https://i.imgur.com/Bi9QEG4.jpg");
	background-size: cover 90%;
	background-repeat: no-repeat;
	background-position: 68% 40%;
}